<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
    <nav *ngIf="user.key != undefined">
      <a routerLink="/wallet">Wallet</a>
      <a routerLink="/transactions">Send ether</a>
      <a routerLink="/contacts">Users</a>
      <a routerLink="/history">History</a>
      <a routerLink="/register">Register</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/settings">Settings</a>
    </nav>
  <div class="mt-5">

  </div>
  <router-outlet></router-outlet>
</div>
