<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <h2>Your QRCode</h2>
      <p>
        QRcode for your key!
      </p>
      <qrcode [qrdata]="user.key" [size]="256" [level]="'M'"></qrcode>
    </div>

    <div class="col-md-4 text-center">
      <h2>Your address key</h2>
      <p>
        {{user.key}}
      </p>
    </div>

    <div class="col-md-4 text-center">
      <h2>Balance</h2>
      <p>
        {{balance}}
      </p>
      <button class="btn btn-primary mt-3" (click)="refreshBalance()">Refresh <img src="../../assets/refresh-arrow.png"/></button>
    </div>
  </div>
</div>
