<div class="container">
  <div class="row">

    <div class="col-md-6 text-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Key</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts" (click)="changeKey(contact)">
            <td>{{ contact.username }}</td>
            <td>{{ contact.key }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6 fieldset text-center">
      <label for="otherKey" class="sr-only">Key to send</label>
      <input type="text" id="otherKey" class="form-control" [(ngModel)]="transaction.to" placeholder="Key to send" required autofocus/>
      <label for="amountToSend" class="sr-only">Amount to send</label>
      <input type="number" id="amountToSend" class="form-control" [(ngModel)]="transaction.amount" placeholder="Amount to send" required autofocus/>
      <button class="btn btn-lg btn-primary mt-3" (click)="sendEth()">Send Ether</button>
    </div>
  </div>

</div>
